#navbar{
background-color: #8c2c19;

}

#sidebar{
background-color: #8c2c19;
}

#sidebar,#navbar a {
	color: white;
}
li:active>a, li>a:hover{
	background-color: black !important;
}
body {
	background-color: white;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color:black !important;
}	

#notifications, #profilebar {
	background-color:#8c2c19;
}


