#navbar{
background-color: #8c2c19;

}

#sidebar{
background-color: #8c2c19;
}



#sidebar,#navbar a {
	color: white;
}

body {
	background-color: white;
}

	

#notifications, #profilebar {
	background-color:#8c2c19;
}